<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listener.Listener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/nadiruzzamanmuhammad/Documents/uiAutomationSeleniumJava">

        <parameter name="browser" value="chrome"></parameter>

        <classes>
            <class name="loginTest.ValidLoginTest">
                <methods>
                    <include name="verifySignInTabDisplayed"/>
                    <include name="verifyValidSignIn"/>
                </methods>
            </class>
            <class name="cartPageTest.ValidCartPageTest">
                <methods>
                    <include name="verifyCartButtonAvailableInHomePage"/>
                    <include name="verifyCartButtonAvailableInSpecialsPgae"/>
                    <include name="verifyCartButtonAvailableInNewProductsPgae"/>
                    <include name="verifyCartButtonAvailableInBestSellersPgae"/>
                    <include name="verifyCartButtonAvailableInOurStoresPgae"/>
                    <include name="verifyCartButtonAvailableInContactUsPgae"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>